body {
    /* background-color: red; */
}

h1 {
    color: red;
    font-size: 15px;
}

p {
    color: sandybrown;
    border: 2px solid powderblue;
    padding: 30px;
    margin: 50px;
}

a:link {
    color: green;
    text-decoration: none;
}

a:visited {
    background-color: green;
}

a:hover {
    background-color: black;
}

a:active {
    background-color: lawngreen;
}